<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- footer -->
<div th:fragment="footer" class="container">
   <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
       <div class="col-md-4 ms-2 d-flex align-items-center">
         <span class="mb-3 mb-md-0 text-body-secondary">© 2024 Kyle, Inc</span>
       </div>
      <ul class="nav col-md-4 me-2 justify-content-end list-unstyled d-flex">
          <li class="ms-3"><a class="text-body-secondary" href="https://twitter.com"><i class="bi bi-twitter"><use xlink:href="#twitter"></use></i></a></li>
          <li class="ms-3"><a class="text-body-secondary" href="https://instagram.com"><i class="bi bi-instagram"><use xlink:href="#instagram"></use></i></a></li>
          <li class="ms-3"><a class="text-body-secondary" href="https://facebook.com"><i class="bi bi-facebook"><use xlink:href="#facebook"></use></i></a></li>
          <li class="ms-3"><a class="text-body-secondary" href="https://pids.tistory.com"><i class="bi bi-globe"><use xlink:href="#globe"></use></i></a></li>
      </ul>
     </footer>
</div>