<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="css/style.css" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
	href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gugi&family=IBM+Plex+Sans+KR:wght@100&family=Jua&family=Orbit&display=swap"
	rel="stylesheet" />
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
	rel="stylesheet" />
</head>
<!-- Navigation-->
<div th:fragment="header" class="container border-bottom">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container px-4 px-lg-5">
			<a class="navbar-brand" href="mainList">Kyle mall</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" href="#!">상품 랭킹</a></li>
					<li class="nav-item"><a class="nav-link" href="#!"></a></li>
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" id="navbarDropdown" href="#"
						role="button" data-bs-toggle="dropdown" aria-expanded="false">카테고리</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item" href="#!">아우터</a></li>
							<li><hr class="dropdown-divider" /></li>
							<li><a class="dropdown-item" href="#!">상의</a></li>
							<li><a class="dropdown-item" href="#!">하의</a></li>
						</ul></li>
				</ul>
				<!-- 회원일 경우 -->
				<th:block th:if="${session.isLogin}">
					<form class="d-flex">
						<button class="btn btn-outline-dark" type="submit">
							<i class="bi-cart-fill me-1"></i> Cart <span
								class="badge bg-dark text-white ms-1 rounded-pill">0</span>
						</button>
					</form>
					<div class="dropdown text-end mx-3">
						<a href="#"
							class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
							data-bs-toggle="dropdown" aria-expanded="false"> <i class="bi bi-person"></i>
						</a>
						<ul class="dropdown-menu text-small">
							<li><a class="dropdown-item"
								th:href="@{addBoard(category=${category},orderType=${orderType})}">작성하기</a></li>
							<li><a class="dropdown-item" href="memberUpdateForm">회원수정</a></li>
							<li>
								<hr class="dropdown-divider" />
							</li>
							<li><a class="dropdown-item" th:href="@{logout}">로그아웃</a></li>
						</ul>
					</div>
				</th:block>
				<!-- 비회원일 경우 -->
				<th:block th:unless="${session.isLogin}">
					<div class="d-grid gap-1 d-md-flex justify-content-md-end">
						<a class="btn btn-outline-dark btn-sm" th:href="@{loginForm}">로그인</a>
						<a class="btn btn-outline-dark btn-sm ms-2" href="joinForm">회원가입</a>
					</div>
				</th:block>
			</div>
		</div>
	</nav>
</div>
</html>
