<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main_layout}">
<div layout:fragment="content" class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="container d-flex justify-content-center align-items-center vh-80">
        <div class="card p-4 text-center" style="width: 350px;">
            <h3 class="mb-4">회원가입</h3>
            <p class="text-muted mb-4">회원가입 방식을 선택해주세요.</p>
            
            <!-- 일반 회원가입 버튼 -->
            <a href="/joinForm" class="btn btn-primary btn-block mb-3">Kyle Mall 회원가입</a>

            <!-- 카카오 회원가입 버튼 -->
            <a href="https://kauth.kakao.com/oauth/authorize?response_type=code&client_id=YOUR_REST_API_KEY&redirect_uri=YOUR_REDIRECT_URI"
               class="btn btn-warning btn-block text-dark">
                <img src="https://developers.kakao.com/assets/img/about/logos/kakaolink/kakaolink_btn_medium.png" alt="카카오 로그인"
                     style="height: 20px; margin-right: 8px;">
                카카오로 회원가입
            </a>
        </div>
    </div>
</div>
</html>