<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main_layout}">
<th:block layout:fragment="content">
<script src=
	"https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<div class="container my-5 border p-4 rounded" style="max-width: 550px">
		<div class="text-center my-4">
			<img src="images/OneTeamLogo.png" style="width: 120px; height: 110px" />
		</div>
		<div class="text-center fw-bold fs-3 mb-4">
			<p>OneDevelop 회원정보 수정</p>
		</div>
		<div class="text-center mb-5">
			<p class="text-body-secondary">회원정보 수정에 필요한 정보를 입력해주세요.</p>
		</div>
		<form action="memberUpdateResult" name="memberUpdateForm" method="post" id="memberUpdateForm">
			<div class="mb-3">
				<label for="name" class="form-label">이름</label> 
				<input type="text" class="form-control" id="name" name="name" th:value="${session.member.name}" readonly/>
			</div>
			<div class="mb-3">
				<label for="nickname" class="form-label">닉네임</label> 
				<input type="text" class="form-control" id="nickname" name="nickname" th:value="${session.member.nickname}" readonly/>
			</div>
			<div class="mb-3">
				<label for="password" class="form-label">아이디</label> <input
					type="password" class="form-control" id="id" name="id" th:value="${session.member.id}" readonly />
			</div>
			<div class="mb-3">
				<label for="password" class="form-label">기존 비밀번호</label>
				<div class="input-group">
					<input type="password" class="form-control" id="oldPass" name="oldPass"
						placeholder="기존 비밀번호 입력" />
					<button type="button" class="btn btn-outline-primary" id="btnPassCheck">
						비밀번호 확인</button>
				</div>
			</div>
			<div class="mb-3">
				<label for="pass1" class="form-label">새 비밀번호</label> <input
					type="password" class="form-control" id="pass1" name="pass1"
					placeholder="새 비밀번호 입력" />
			</div>
			<div class="mb-3">
				<label for="pass2" class="form-label">새 비밀번호 확인</label> <input
					type="password" class="form-control" id="pass2" name="pass2"
					placeholder="새 비밀번호 확인" />
			</div>
			<div class="mb-3">
				<label for="zipcode" class="form-label">우편번호</label>
				<div class="input-group">
					<input type="text" class="form-control" id="zipcode" name="zipcode"
						placeholder="우편번호" readonly th:value="${session.member.zipcode}"/>
					<button type="button" class="btn btn-outline-primary" id="btnZipcode">
						우편번호 찾기</button>
				</div>
			</div>
			<div class="mb-3">
				<label for="address1" class="form-label">주소</label> <input
					type="text" class="form-control" id="address1" name="address1" placeholder="주소" th:value="${session.member.address1}" readonly/>
			</div>
			<div class="mb-3">
				<label for="address2" class="form-label">상세주소</label> <input
					type="text" class="form-control" id="address2" name="address2"
					placeholder="상세주소 입력" th:value="${session.member.address2}"/>
			</div>
			<div class="row mb-3">
				<label for="mobile2" class="form-label">휴대폰 번호</label>
				<div class="col-4 pe-1">
					<select class="form-select" name="mobile1" id="mobile1">
						<option th:selected="${session.member.mobile.split('-')[0] == '010'}">
							010</option>
						<option th:selected="${session.member.mobile.split('-')[0] == '011'}">
							011</option>
						<option th:selected="${session.member.mobile.split('-')[0] == '016'}">
							016</option>
						<option th:selected="${session.member.mobile.split('-')[0] == '017'}">
							017</option>
						<option th:selected="${session.member.mobile.split('-')[0] == '018'}">
							018</option>
						<option th:selected="${session.member.mobile.split('-')[0] == '019'}">
							019</option>
					</select>
				</div>
				<div class="col-4 pe-1 ps-1">
					<input type="text" class="form-control" name="mobile2" id="mobile2" th:value="${session.member.mobile.split('-')[1]}" maxlength="4"/>
				</div>
				<div class="col-4 ps-1">
					<input type="text" class="form-control" name="mobile3" id="mobile3" th:value="${session.member.mobile.split('-')[2]}" maxlength="4"/>
				</div>
			</div>
			<div class="row mb-3">
				<label for="emailId" class="form-label">이메일</label>
				<div class="col-4 pe-1">
					<input type="text" class="form-control" name="emailId" id="emailId" th:value="${session.member.email.split('@')[0]}"/>
				</div>
				<div class="col-4 pe-0 ps-1">
					<input type="text" class="form-control" name="emailDomain" id="emailDomain"
						placeholder="@" th:value="${session.member.email.split('@')[1]}"/>
				</div>
				<div class="col-4 ps-1">
					<select class="form-select" name="selectDomain" id="selectDomain">
						<option>직접입력</option>
						<option th:selected="${session.member.email.split('@')[1] == 'naver.com'}">naver.com</option>
						<option th:selected="${session.member.email.split('@')[1] == 'daum.net'}">daum.net</option>
						<option th:selected="${session.member.email.split('@')[1] == 'hanmail.net'}">hanmail.net</option>
						<option th:selected="${session.member.email.split('@')[1] == 'gamil.com'}">gmail.com</option>
					</select>
				</div>
			</div>
			<div class="mb-3">
				<div class="form-check form-switch my-3">
					<input class="form-check-input" type="checkbox" role="switch"
						id="flexSwitchCheckChecked" checked th:checked="${!session.member.emailGet}"/> <label
						class="form-check-label" for="flexSwitchCheckChecked">이메일
						수신 동의</label>
				</div>
			</div>
			<div class="d-grid gap-2 d-md-flex justify-content-md-end">
				<input type="submit" class="btn btn-primary" value="수정하기">
			</div>
		</form>
	</div>
	</th:block>
</html>
