<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kylemall.shop.mapper.ChatMapper">
    
    <insert id="insertMessage" parameterType="ChatMessage">
        INSERT INTO chat_message 
            (room_id, sender, nickname, message, message_type, sent_at)
        VALUES 
            (#{roomId}, #{sender}, #{nickname}, #{message}, #{type}, #{sentAt})
    </insert>
    
    <select id="getRecentMessages" resultType="ChatMessage">
        SELECT 
            message_id as messageId,
            room_id as roomId,
            sender,
            message,
            message_type as type,
            sent_at as sentAt
        FROM chat_message
        WHERE room_id = #{roomId}
        ORDER BY sent_at DESC
        LIMIT #{limit}
    </select>
    
</mapper> 